@media (min-width: 2500px){

* {
		margin: 0;
		padding: 0;
                }

html, body {
		font-family: Calibri, Verdana, Helvetica, Arial, sans-serif;
		font-size: 101%;
		font-weight: 500;
		line-height: 130%;
		margin: 6px 4px;
		text-align: center;
/*		overflow-x: hidden;  */
                }

h1 {
		font-size: 220%;
		line-height: 122%;
		margin: 12px 0 16px 0;
                }

h2 {
		font-size: 150%;
		line-height: 122%;
                }

.h2-mobile {
		display: none;
                }

h3 {
		font-size: 130%;
		margin: 10px auto 10px auto;
		padding: 2px auto 12px auto;
                }

h4 {
		font-size: 110%;
		line-height: 114%;
		margin: 2px 0 12px 0;
		text-align: center;
                }

p, .odd-lines, .even-lines {
		padding: 5px;
		margin-bottom: 1px;
                }

strong {
		font-weight: 700;
                }
				
a:link, a:visited, a:active {
		color: #000;
		display: inline-flex;
		text-decoration: underline;
                }

a:hover {
		background-color: #000080;
		color: #fff;
		text-decoration: none;
                }

.addtofavs-tellafriend-etc a:hover, .addtofavs-tellafriend-etc a:focus, .addtofavs-tellafriend-etc, .addtofavs-tellafriend-etc a {
		line-height: 115%;
		margin-top: 14px;
		margin-bottom: 10px;
		font-weight: 500;
		text-align: center;
                }

.addtofavs-tellafriend-etc a:hover, .addtofavs-tellafriend-etc a:focus {
		background-color: #316AC5;
		color: #fff;
		text-decoration: none;
                }

.border-error {
		background-color: #fff;
		border: 1px solid red;
                }

.center {
		text-align: center;
                }

#center {
		margin: 0 auto;
		text-align: center;
		width: 390px;
                }

.clear {
		clear: both;
		font-size: 0;
		line-height: 0;
                }

.date, .day {
		background-color: #6499FF;
		color: #fff;
		font-weight: 700;
		padding: 2px;
		border-bottom: 0;
                }

.dkblue {
		background-color: #E8F4FF;
                }

.question-div {
		width: 10%;
                }

#answer {
		margin-top: 20px;
		width: 80px;
                }

.fav, #fav, .fav a, #fav a, .fav a:focus, #fav a:focus, .fav a:hover, #fav a:hover {
	line-height: 115%;
	margin-top: 12px;
	margin-bottom: 10px;
	font-weight: 500;
				}

.fav a, #fav a {
	color: #316AC5;
	text-decoration: underline;
				}

.fav a:focus, #fav a:focus {
	background-color: #316AC5;
	color: #fff;
	text-decoration: underline;
				}

.fav a:hover, #fav a:hover {
	background-color: #316AC5;
	color: #fff;
	text-decoration: none;
				}

.favs-taf {
	line-height: 110%;
	margin: 10px 0 8px 0;
	padding-top: 2px;
	align-items: center;
	justify-content: center;
	gap: 3px;
				}

.favs-taf, .phone-web-icon, .mobile-menu, .table-mob-col tr, .search-form, .search, .taf-row, .form-field, .taf-form, .form-row, .header-wrap, .form-container, .form-wrapper, .code-container, .page-main, .page-main-bottom {
		display: flex;
				}

#findbox {
		text-align: center;
		vertical-align: top;
		margin-top: 4px;
		margin-bottom: 4px;
		padding-top: 4px;
		padding-bottom: 4px;
                }

.forecast td {
		padding: 0 0 12px 0;
		width: 84px;
                }

.horizline, hr {
		background-color: #000;
		height: 1px;
		text-align: center;
		width: 50%;
                }

.horizline {
		margin: 22px auto 19px auto;
		padding: 22px 0 19px 0;
                }

hr {
		margin: 12px auto 9px auto;
		padding: 12px auto 9px auto;
                }

.image-no-border, .image-no-border a, .image-no-border a:hover, .image-no-border img {
		border: 0;
		background-color: #fff;
		text-decoration: none;
                }

.img-center {
		margin-left: auto;
		margin-right: auto;
                }

.img-left {
		float: left;
		margin: 4px 8px 4px 1px;
		padding: 0;
		width: 30%;
                }

.img-right {
		width: 30%;
		float: right;
		margin: 4px 1px 4px 8px;
                }

.img-right-left-dog {
		width: 40%;
		float: left;
		padding: 3px 8px 3px 4px;
                }

.img-right-right-dog {
		width: 42%;
		float: right;
		padding: 3px 4px 3px 4px;
                }

.img-right-smaller {
		width: 15%;
		float: right;
		margin: 4px 1px 4px 4px;
                }

.img-non-hover, img-non-hover a, img-non-hover a:hover, .img-non-hover-no-border, img-non-hover-no-border a, img-non-hover-no-border a:hover {
		border: 0;
		text-decoration: none;
                }

a.phone {
		text-decoration: underline;
                }

a.phone a:hover {
		color: #fff;
		background-color: green;
                }

.phone:hover {
		background-color: #90ee90;
		font-weight: 600;
                }

span.phone {
		display: inline;
		text-decoration: underline;
                }

.maintextcell {
		padding: 0 10%;
		margin: 0;
		text-align: left;
		width: 100%;
                }

.maintextcentered, .maintextunderphotos {
		text-align: center;
		margin-top: 0;
		margin-bottom: 1px;
		font-weight: 500;
		line-height: 118%;
                }

ol.list-items li span {
		position: relative;
		left: -4px
                }

.phone-web-icon {
		align-items: center;
		gap: 6px;
                }

.phrases {
		text-align: center;
		margin: 4px 0 2px 0;
		line-height: 118%;
		font-style: italic;
                }

.phrasesdate {
		text-align: center;
		margin: -4px 0 1px 0;
		padding: 4px 0 8px 0;
		line-height: 120%;
                }

.odd-lines {
		background-color: #E8F4FF;
		line-height: 125%;
                }

.even-lines {
		background-color: #d4e8fc;
		line-height: 125%;
                }

.red-asterisk {
		font-size: 19px;
		color: #ff0000;
                }

.side-menu {
		list-style-type: none;
		margin: 0 0 2px 0;
		padding: 0;
		border-right: 0;
		vertical-align: middle;
		border-bottom-width: 0;
		text-align: left;
		float: left;
		z-index: 10;
                }

.side-menu li a:visited, .side-menu li a:active {
		color: #fff;
		text-decoration: none;
                }

.side-menu li a:hover, .side-menu li.active {
		background-image: url(/_a_images_menus/glossyback2.gif);
                }

.side-menu li a, .side-menu-right li>a {
		width: 178px;
                }

.side-menu-right {
        margin: 0 2px 1px 0;
        padding: 0;
        border-bottom-width: 0;
		vertical-align: middle;
        text-align: right;
        float: right;
        		}

.side-menu-right>li {
		text-align: right;
}

.side-menu-right li a {
		background-color: #fff url(/_a_images_menus/glossyback.gif) repeat-x bottom left;
		color: #fff;
		display: block;
		margin: 1px 3px 1px 0;
		padding: 8px 12px 8px 18px;
		text-decoration: none;
		vertical-align: middle;
                }

.side-menu-right li a:visited, .side-menu li a:active {
		color: #fff;
		text-decoration: none;
                }

.side-menu-right li a:hover {
		background-image: url(/_a_images_menus/glossyback2.gif);
                }

.side-menu li ul li ul {
		left: auto;
		right: 158px;
		top: 0;
                }

.side-menu-bottom {
		vertical-align: bottom;
                }

ul.side-menu.side-menu-right li ul {
		left: auto;
		right: 185px;
                }

.page-header .mobile-menu {
		display: none;
                }

.mobile-menu {
		display: none;
		padding: 0 10px 0 0;
                }

.mobile-menu svg {
		width: 26px;
		height: 26px;
		cursor: pointer;
		display: none;
                }

.mobile-menu .active {
		display: block;
                }

/*drop down style*/

.menu ul, .menu ul li {
		margin: 0;
		padding: 0;
		display: block;
		float: left;
		width: 168px;
                }

ul.side-menu {
		margin: 0;
		padding: 0;
		list-style: none;
                }
				
ul.side-menu li ul.sub.positioned {
		position: fixed;
		left: 186px;
		top: initial;
		bottom: 15px;
		right: initial;
				}			

ul.side-menu li ul {
		position: absolute;
		left: 178px;
		display: none;
		top: 0;
		border-right: 3px solid transparent;
                }
				
ul.side-menu li ul.visible {
		position: absolute;
		left: 179px;
		top: 0;
		border-right: 3px solid transparent;
		bottom: 0;
				}				

.side-menu .visible {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding-top: 10px;
                }

.side-menu li a {
		background: #fff url(/_a_images_menus/glossyback.gif) repeat-x bottom left;
		box-sizing: border-box;
		color: #fff;
		display: inline-block;
		margin: 0;
		padding: 8px;
		text-decoration: none;
		vertical-align: middle;
                }

#space {
		margin-top: 242px;
		position: absolute;
                }

#space1 {
		margin-top: -42px;
		position: absolute;
                }

div#spacer {
		height: 20px;
                }

.stripe tbody tr:nth-child(2n+1) {
		background-color: #E8F4FF;
                }

.stripe tbody tr:nth-child(2n+2) {
		background-color: #d4e8fc;
                }

.stripe thead tr td {
		background-color: #a8d4ff;
		height: 23px;
		padding-left: 9px;
		vertical-align: middle;
                }

.stripe tfoot tr td {
		background-color: #a8d4ff;
		height: 23px;
		padding-left: 9px;
		vertical-align: middle;
                }

table .stripe thead, table .stripe tfoot {
		position: sticky;
                }

table .stripe thead {
		inset-block-start: 0;
                }

table .stripe tfoot {
		inset-block-end: 0;
                }

.stripe caption {
		margin: 0 0 6px 0;
		padding: 0 0 6px 0;
                }

.stripe tbody tr td {
		margin-top: 200px;
		margin-bottom: 200px;
		padding: 11px 8px 12px 9px;
		vertical-align: top;
		border-collapse: separate;
		border-color: #fff;
		border: medium;
                }

.stripe tfoot tr td {
		border-collapse: separate;
		border-color: #fff;
		border: medium;
		font-weight: 600;
		padding: 5px 6px 7px 6px;
		text-align: left;
		vertical-align: top;
                }

.stripe thead tr th {
		border-collapse: separate;
		border-color: #fff;
		border: medium;
		font-weight: 600;
		padding: 7px 6px 5px 9px;
		text-align: left;
		vertical-align: bottom;
                }

table.stripe {
		border: 1px solid #fff;
		border-collapse: separate;
		margin: auto;
		padding: 0;
		vertical-align: bottom;
		width: 100%;
                }

.stripe td, .stripe th {
		padding-left: 4px;
		padding-right: 4px;
                }

table {
		background-color: #fff;
		border-collapse: collapse;
		margin: auto;
		width: 100%;
                }

tr {
		vertical-align: bottom;
		width: auto;
                }

.taf-table {
		line-height: 180%;
                }

td {
		vertical-align: top;
                }

td .details {
		padding-bottom: 10px;
                }

th {
		background-color: #a8d4ff;
		height: 23px;
		padding-left: 10px;
		vertical-align: middle;
                }

.top {
		width: 100%;
		margin: -2px 1px -12px 1px;
		text-align: center;
		vertical-align: top;
		background-color: #fff;
                }

ul.list-items {
		padding: 0 0 0 20px;
		margin: 0 0 0 1px
                }

ul.list-items li {
		margin: 0 0 0 10px;
		padding: 0 0 4px 1px;
		text-align: left;
                }

ul.list-items li span {
		position: relative;
		left: -4px
                }

.weather-i {
		width: 560px;
		margin: 16px auto 16px auto;
                }

.weather-i td {
        border: 1px solid #039;
		padding: 0 0 12px 0;
                }

.weather-i .whtText12 {
		font-weight: 500;
		color: #fff;
                }

.weather-i .bgWhite {
		background-color: #fff;
                }
				
				
/*  FOOTER  */

.horsham-footer {
		font-size: 90%;
		line-height: 130%;
		margin-top: 20px;
		margin-bottom: 2px;
		text-align: center;
                }
				
				/*

.websitehelpers {
		line-height: 115%;
		margin: 0 0 20px 0;
		padding: 0;
		text-align: center;
                }
				
				*/

.horsham-bigger {
		display: block;
                }

.horsham-mobile {
		display: none;
                }
				
/* END FOOTER  */


li .sf-with-ul .sf-sub-indicator {
		position: relative;
		right: -100px;
                }

ul li {
		text-align: left;
                }

ul.sub {
		left: auto;
		width: 528px;
                }

ul.sub li {
		list-style-type: none;
		width: 176px;
		float: left;
                }

li:hover ul.sub {
		flex-wrap: wrap;
		justify-content: space-around;
                }

#tab01 {
		width: 250px;
		margin: auto;
                }

li .sf-with-ul .sf-sub-indicator {
		position: absolute;
		left: auto;
		right: 2px;
		color: transparent;
                }

li .sf-with-ul .sf-sub-indicator:before {
		content: "\00BB";
		color: #fff;
                }

.header-wrap {
		justify-content: space-between;
		align-items: center;
                }

.header-center-text {
		padding: 0 32px;
                }

.page-main {
		justify-content: space-between;
		position: relative;
                }

.table-overflow {
		overflow: scroll;
		scrollbar-width: none;
                }

.table-overflow::-webkit-scrollbar {
		display: none;
                }

.page-main-bottom {
		justify-content: space-between;
		align-items: end;
		position: relative;
                }

.sitemap-sub-list {
		display: grid;
		grid-column: wrap;
		grid-template-columns: 25% 25% 25%;
		padding-top: 2px;
                }

.directory-imgs {
		text-align: center;
                }

.form-wrapper {
		justify-content: center;
		margin: 0 auto;
		border: 0 solid black;
		margin-top: 0;
		padding: 0 4px 4px 4px;
                }

.form-container {
		flex-direction: column;
		line-height: 30px;
		margin-top: 10px;
		width: 100%;
		max-width: 673px;
                }

.form-row {
		margin-bottom: 6px;
                }

.form-space {
		width: 24%;
                }

.input-width {
		height: 30px;
		width: 38%;
                }

.err {
		border: 2px solid #f00;
                }

.errors {
		color: red;
		font-weight: 600;
		line-height: 116%;
		margin: 0 0 6px 0;
		padding: 0 0 6px 0;
		text-align: center;
                }

.forms {
		width: 100%;
		border-color: #006;
		vertical-align: top;
		padding: 4px 10px 8px 0;
		text-align: right;
		border-spacing: 0;
		border-collapse: collapse;
                }

.forms td {
		text-align: right;
		padding: 4px 10px 8px 0;
		vertical-align: top;
		border: 0;
                }

.sidecells-forms {
		width: 116px;
                }

table.smform {
		width: 68%;
		background-color: transparent;
                }

table.smform tr th {
		padding: 15px 10px;
                }

table.smform tr td {
		text-align: left;
		padding: 5px 0;
                }

table.smform tr>td:first-of-type {
		width: 43%;
		padding-left: 10%;
		text-align: right;
                }

.form-field .first {
		width: 40%;
		padding: 0 10px;
		text-align: left;
                }

.taf-form {
		justify-content: center;
                }

.taf-space {
		Width: 40%;
                }

.taf-wrapper {
		border: 0;
		padding: 18px;
		width: 320px;
                }

.dogs-images {
		height: auto;
		margin: auto;
		max-width: 60%;
		width: 60%;
                }
				
.search {
		background-color: #fff;
		border-radius: 5px;
		width: 100%;
		justify-content: center;
		align-items: center;
		padding: 5px;
		border: 0;
		display: flex;
		flex-direction: row;
				}				
				
				/*

.search {
		position: sticky;
		background-color: #fff;
		border-radius: 5px;
		flex-direction: column;
		align-items: center;
		padding: 5px;
		scale: 0.8;
		width: 100%;
				}
				
				*/

pre {
		display: none;
                }

.search-form {
		position: relative;
                }

.search img {
		height: 22px;
		position: absolute;
		top: 10px;
		left: 15px;
                }
				
.search input[type=text] {
		font-size: 102%;
		padding: 11px 10px 10px 40px;
		border: 1px #dce0e0 solid;
		width: 100%;
		border-radius: 5px;
		margin-right: 5px;
				}				
				
ul#searchResults {
		background-color: #fff;
		font-size: 94%;
		position: absolute;
		top: 49px;
		width: calc(100% - 10px);
		margin: 0;
		padding: 8px;
		list-style-type: none;
		box-shadow: 0 4px 14px rgba(0, 0, 0, .15);
		max-height: 250px;
		overflow-y: auto;
		display: none;
		border: 1px solid #ccc;
		border-radius: 5px;
		box-sizing: border-box;
				}				
				
/*				

.search input[type=text] {
		padding: 11px 10px 10px 40px;
		border: 1px #dce0e0 solid;
		background-color: #fff;
		border-radius: 5px;
		margin-right: 5px;
                }
				
*/				

input[type="submit"], .search-button {
		background-color: #6A9EEC;
		color: #fff;
		border: none;
		cursor: pointer;
		border-radius: 4px;
		padding: 10px 20px;
                }

input[type="submit"]:hover {
		background-color: linear-gradient(to bottom, #6A9EEC, #0056b3);
                }
				
.highlight {
		background-color: #ffc78f;
		font-weight: 500;
				}
				
button#responsiveButton {
		background-color: #000080;
		color: #fff;
		display: inline-block;
		padding: 0 12px;
		font-size: 99%;
		cursor: pointer;
		border: none;
		border-radius: 5px;
		font-weight: 500;
		height: 32px;
		vertical-align: bottom;
		width: 72px;
				}	
				
#searchResults li {
		padding: 8px;
		font-weight: 500;
		cursor: pointer;
				}					
				
ul#searchResults {
		background-color: #fff;
		font-size: 94%;
		position: absolute;
		top: 49px;
		width: calc(100% - 10px);
		margin: 0;
		padding: 8px;
		list-style-type: none;
		box-shadow: 0 4px 14px rgba(0, 0, 0, .15);
		max-height: 250px;
		overflow-y: auto;
		display: none;
		border: 1px solid #ccc;
		border-radius: 5px;
		box-sizing: border-box;
				}						
				
				
				
.sticky {
		height: auto;
		position: sticky;
		top: 0;
		left: 0;
		right: 0;
		z-index: 99;
				}					
				
/*				
				
.sticky {
		height: auto;
		position: sticky;
		top: 0;
		left: 0;
		right: 0;
		width: 220px;
				}			
				
				*/
				
/*				

.sticky {
		height: auto;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 220px;
                }
				
*/				

#search-results {
		list-style-type: none;
		padding: 0;
		margin: 0;
                }

#search-results li {
		padding: 5px;
		cursor: pointer;
                }

#search-results li:hover {
		background-color: #f0f0f0;
                }			
				
.side-menu li {
		position: relative
				}
				
				/*

li:hover ul.sub {
		width: 504px;
		justify-content: flex-start;
		top: 0;
		position: absolute;
				}
				
				*/
				
				/*

ul.sub li {
		width: auto
				}		
				
				*/
				
				
li:hover ul.sub {
		display: flex
				}
				
				
}
.directory-table tr.current-result {
    background-color: #dbeafe !important;
    border-left: 4px solid #3B82F6;
}
/* .highlight {
    background-color: #fef3c7;
    padding: 2px 4px;
    border-radius: 3px;
    font-weight: 600;
} */